<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'landingpage' %}">back</a>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat officiis laborum, voluptatibus voluptates nam,
         debitis suscipit exercitationem, est corporis quia inventore velit. Aut voluptate sed rerum modi neque beatae tempore.</p>
    
</body>
</html>